:root{
    --primary-color: #4D77FF
}
*{
    box-sizing: border-box;
}

.primary-btn{
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition-duration: .3s;
    border: solid 2px var(--primary-color);
}
body{
    overflow-x:hidden;
}
.img-cover{
    object-fit: cover;
}
.primary-btn:hover{
    background-color: rgb(1, 1, 214);
}
.feature-card{
    border-top: 1px solid blue; 
    border-top-left-radius: 0; 
    border-top-right-radius: 0; 
    border-left: none; 
    border-right: none; 
    border-bottom: none;
    padding: 20px;
    height: 450px;
}
.text-primary-color{
    color: var(--primary-color);
}
.active-nav-link{
    border-style: none none solid none;
    border-width: 2px;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.primary-outline-btn{
    background-color: transparent;
    border: solid 2px var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    transition-duration: .3s;
}
.cover-img{
    object-fit: cover;
    height: 100%;
    width: auto;
}

.primary-outline-btn:hover{
    background-color: var(--primary-color);
    color: white;
}

#home-image-2{
    position: relative;
    left:35%; 
    bottom: 20%
}

@media(max-width: 1200px){
    
    #home-image-2{
        position: relative;
        left:0; 
        bottom:0;
        margin-top: 20px;
    }
}